#%RAML 0.8
#baseUri: http://examplehmis.com/{version}
#baseUri: http://mocksvc.mulesoft.com/mocks/ce8f5253-0423-4d20-9364-98b1c088bae7/{version}
baseUri: http://mocksvc.mulesoft.com/mocks/8036c37e-54d8-448a-82c8-02e0e62d1120/mocks/ce8f5253-0423-4d20-9364-98b1c088bae7/{version}
securedBy: [oauth_2_0]
title: HMIS API
version: 1
protocols:
  -  HTTPS
securitySchemes:
  - oauth_2_0:
      settings:
        accessTokenUri: http://examplehmis.com/1/oauth2/token
        authorizationUri: http://examplehmis.com/1/oauth2/authorize
        scopes: [user, administrator]
        authorizationGrants: [ owner ] #resource owner password credential grant used, since the client doesn't own the data (https://tools.ietf.org/html/rfc6749)
      description: |
        The HMIS API supports OAuth 2.0 for authenticating all API requests.
      type: OAuth 2.0
      describedBy:
        headers:
          Authorization:
              description: |
                 Used to send a valid OAuth 2 access token. Do not use
                 an "access_token" query string parameter.
              type: string
        responses:
          401:
              description: |
                  Bad or expired token. This can happen if the user or the HMIS
                  revoked or expired an access token. To fix, you should re-
                  authenticate the user.
          403:
              description: |
                  Bad OAuth request (wrong consumer key, bad nonce, expired
                  timestamp...). Unfortunately, re-authenticating the user won't help here.
resourceTypes:
  -  collection:
      description: "Operations performed on the set of all HMIS <<resourcePathName>> within the system, and for adding a new <<resourcePathName|!singularize>> to the set of <<resourcePathName>> "
      get:
        #securedBy: [oauth_2_0: { scopes: [ user ] } ]
        description: Searches for <<resourcePathName|!singularize>>.  Returns a list of <<resourcePathName|!singularize>> ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.
        queryParameters:
          CreatedByUserID:
            description: searches for members of the collection created by a particular user
            type: "string"
            example: Smith12
          CreatedAfter:
            description: searches for members of the collection created after (inclusive) a particular date
            type: "date"
            example: 10-11-2011
          CreatedBefore:
            description: searches for members of the collection created before (inclusive) a particular date
            type: "date"
            example: 10-11-2012
          UpdatedAfter:
            description: searches for members of the collection updated after (inclusive) a particular date
            type: "date"
            example: 10-11-2011
          UpdatedBefore:
            description: searches for members of the collection updated before (inclusive) a particular date
            type: "date"
            example: 10-11-2012
        responses:
          200:
            description: OK – Everything is working.
            body:  
              application/json:
                schema: <<schema_json>>
          400: 
            description: Bad Request – The request was invalid or cannot be served.
          403: 
            description: Forbidden – The server understood the request, but is refusing it or the access is not allowed.
          404: 
            description: Not found – There is no resource behind the URI.
          500:
            description: 500 – Internal Server Error
      put:
        #securedBy: [oauth_2_0: { scopes: [ user ] } ]
        description: Bulk update to multiple <<resourcePathName|!pluralize>>.
        body:
          application/json:
            schema: <<schema_array_json>>
          application/xml:
            schema: <<schema_array_xml>>
        responses:
          200: 
            description: OK – Everything is working.
          304:
            description: Not Modified – The client can use cached data.
          400: 
            description: Bad Request – The request was invalid or cannot be served.
          403: 
            description: Forbidden – The server understood the request, but is refusing it or the access is not allowed.
          404: 
            description: Not found – There is no resource behind the URI.
          422:
            description: Unprocessable Entity - Request body is incorrect.
          500:
            description: 500 – Internal Server Error
      post:
        description: |
          Add a <<resourcePathName|!singularize>>
        body:
          application/json:
            schema: <<schema_json>>
          application/xml:
            schema: <<schema_xml>>
        responses:
          201:
            description: OK - New resource has been created.
            body:
              application/json:
                schema: <<id_schema_json>>
          400:
            description: Bad Request – The request was invalid or cannot be served.
          401:
            description: Unauthorized – The request requires user authentication.
          403:
            description: Forbidden – The server understood the request, but is refusing it or access is not allowed.
          404: 
            description: Not found – There is no resource behind the URI.
          422:
            description: Unprocessable Entity - Request body is incorrect.
          500:
            description: 500 – Internal Server Error.
      delete:
        description: Deletes all members of the collection
        responses:
          204: 
            description: OK – The resources were successfully deleted.
          400:
            description: Bad Request – The request was invalid or cannot be served.
          401:
            description: Unauthorized – The request requires user authentication.
          403:
            description: Forbidden – The server understood the request, but is refusing it or access is not allowed.
          404:
            description: Not found – There are no resources behind the URI.
          500:
            description: 500 – Internal Server Error
  -  member:
      get:
        description: Gets a <<resourcePathName|!singularize>> using a URI resource parameter/ID.
        responses:
          200:
            description: OK – Everything is working.
            body:
              application/json:
                schema: <<schema_json>>
              application/xml:
                schema: <<schema_xml>>
          400:
            description: Bad Request – The request was invalid or cannot be served. 
          401:
            description: Unauthorized – The request requires an user authentication.
          403: 
            description: Forbidden – The server understood the request, but is refusing it or the access is not allowed.
          404:
            description: Not found – There is no resource behind the URI.
          500: 
            description: Internal Server Error
      put:
        description: Updates a specific <<resourcePathName|!singularize>> specified by the URI resource parameter/ID.
        responses:
          200:
            description: OK – Everything is working.
          304:
            description: Not Modified – The client can use cached data.
          400:
            description: Bad Request – The request was invalid or cannot be served.
          401:
            description: Unauthorized – The request requires a user.
          403:
            description: Forbidden – The server understood the request, but is refusing it or the access is not allowed.
          404:
            description: Not found – There is no resource behind the URI.
          500:
            description: Internal Server Error.
      delete: 
        description: Deletes a specific <<resourcePathName|!singularize>> specified by the URI resource parameter/ID.
        responses: 
          204:
            description: OK – The resource was successfully deleted.
          400:
            description: Bad Request – The request was invalid or cannot be served.
          401: 
            description: Unauthorized – The request requires user authentication.
          403:
            description: Forbidden – The server understood the request, but is refusing it or the access is not allowed.
          404:
            description: Not found – There is no resource behind the URI.
          500:
            description: Internal Server Error.
/clients:
  type: {
    collection: {
        id_schema_json: client_id_json,  
        schema_json:  client_json,
        schema_xml:  client_xml,
        schema_array_json: clients_json,
        schema_array_xml: clients_xml
    }
  }
  get:
    queryParameters:
      FirstName:
        type: "string"
        example: "Bill"
      MiddleName:
        type: "string"
        example: Frances 
      LastName:
        type: "string"
        example: Smith
      DOB:
        type: "date"
        example: 10-11-2012
    responses:
      200:
        body:  
          application/json:
            example: |
              "client_ids":[{"PersonalID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"PersonalID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
            schema: client_ids_json
  put:
    body:
      application/json:
        example: |
          {"clients":[{"PersonalID":"csssssaassasfdfreswssaaasdffrfre","FirstName":"Bill","DateCreated":"10-12-2014","DateUpdated":"11-14-2014","UserID":"gsmith"},{"PersonalID":"abcsteaassasrdyreswssaaasdffrfre","FirstName":"Jim","DateCreated":"09-20-2014","DateUpdated":"10-21-2014","UserID":"gsmith"}]
          }
      application/xml:
        example: |
          <hmis:Clients>
            <hmis:Client hmis:dateCreated="2016-04-11T23:14:59Z" hmis:dateUpdated="2015-05-30T23:14:59"
            hmis:userID="ned100">
              <hmis:PersonalID>A1a1</hmis:PersonalID>
              <hmis:FirstName>Edward</hmis:FirstName>
              <hmis:MiddleName>Barnaby</hmis:MiddleName>
              <hmis:LastName>Jones</hmis:LastName>
              <hmis:NameSuffix>Sr.</hmis:NameSuffix>
              <hmis:NameDataQuality>9</hmis:NameDataQuality>
              <hmis:SSN>7xxx9xx8x</hmis:SSN>
              <hmis:SSNDataQuality>2</hmis:SSNDataQuality>
              <hmis:DOB>2014-11-18</hmis:DOB>
              <hmis:DOBDataQuality>1</hmis:DOBDataQuality>
              <hmis:Gender>3</hmis:Gender>
              <hmis:OtherGender>intersex</hmis:OtherGender>
              <hmis:Ethnicity>0</hmis:Ethnicity>
              <hmis:Race>8</hmis:Race>
              <hmis:VeteranStatus>9</hmis:VeteranStatus>
            </hmis:Client>
            <hmis:Client hmis:dateCreated="2014-04-11T23:14:59Z" hmis:dateUpdated="2015-05-30T23:14:59" hmis:userID="ned100">
              <hmis:PersonalID>B2a1</hmis:PersonalID>
              <hmis:FirstName>Tanya</hmis:FirstName>
              <hmis:MiddleName>Hartwell</hmis:MiddleName>
              <hmis:LastName>Drake</hmis:LastName>
              <hmis:NameSuffix>Jr.</hmis:NameSuffix>
              <hmis:NameDataQuality>9</hmis:NameDataQuality>
              <hmis:SSN>7xxx9xx8x</hmis:SSN>
              <hmis:SSNDataQuality>2</hmis:SSNDataQuality>
              <hmis:DOB>2014-11-18</hmis:DOB>
              <hmis:DOBDataQuality>1</hmis:DOBDataQuality>
              <hmis:Gender>3</hmis:Gender>
              <hmis:OtherGender>intersex</hmis:OtherGender>
              <hmis:Ethnicity>0</hmis:Ethnicity>
              <hmis:Race>8</hmis:Race>
              <hmis:VeteranStatus>9</hmis:VeteranStatus>
            </hmis:Client>
          </hmis:Clients>
  post:
    body:
      application/json:
        example: |
          {"PersonalID":"csssssaassasfdfreswssaaasdffrfre","FirstName":"Bill","DateCreated":"10-12-2014","DateUpdated":"11-14-2014","UserID":"gsmith"}
        schema: client_json
      application/xml:
        example: |
          <hmis:Client hmis:dateCreated="2016-04-11T23:14:59Z" hmis:dateUpdated="2015-05-30T23:14:59" hmis:userID="ned100">
              <hmis:PersonalID>A1a1</hmis:PersonalID>
              <hmis:FirstName>Edward</hmis:FirstName>
              <hmis:MiddleName>Barnaby</hmis:MiddleName>
              <hmis:LastName>Jones</hmis:LastName>
              <hmis:NameSuffix>Sr.</hmis:NameSuffix>
              <hmis:NameDataQuality>9</hmis:NameDataQuality>
              <hmis:SSN>7xxx9xx8x</hmis:SSN>
              <hmis:SSNDataQuality>2</hmis:SSNDataQuality>
              <hmis:DOB>2014-11-18</hmis:DOB>
              <hmis:DOBDataQuality>1</hmis:DOBDataQuality>
              <hmis:Gender>3</hmis:Gender>
              <hmis:OtherGender>intersex</hmis:OtherGender>
              <hmis:Ethnicity>0</hmis:Ethnicity>
              <hmis:Race>8</hmis:Race>
              <hmis:VeteranStatus>9</hmis:VeteranStatus>
            </hmis:Client>
        schema: client_xml
    responses:
      201:
        description: Returns the ID of the newly created client.
        body:
          application/json:
            schema: client_id_json
            example: |
              {"PersonalID":"csssssaassasfdfreswssaaasdffrfre"}
  /{client_id}:
    uriParameters:
      client_id:
        displayName: Client Identifier 
        type: string
        example: ADBC1111211111114111111111D1111V
    type:
      member:
        schema_json:  client_json
        schema_xml:  client_xml
    get:
      responses:
        200:
          body:  
            application/json:
              example: |
                {"PersonalID":"csssssaassasfdfreswssaaasdffrfre","FirstName":"Bill","DateCreated":"10-12-2014","DateUpdated":"11-14-2014","UserID":"gsmith"}
            application/xml:
              example: |
                <hmis:Client hmis:dateCreated="2016-04-11T23:14:59Z" hmis:dateUpdated="2015-05-30T23:14:59" hmis:userID="ned100">  
                  <hmis:PersonalID>A1a1</hmis:PersonalID>
                  <hmis:FirstName>Edward</hmis:FirstName>
                  <hmis:MiddleName>Barnaby</hmis:MiddleName>
                  <hmis:LastName>Jones</hmis:LastName>
                  <hmis:NameSuffix>Sr.</hmis:NameSuffix>
                  <hmis:NameDataQuality>9</hmis:NameDataQuality>
                  <hmis:SSN>7xxx9xx8x</hmis:SSN>
                  <hmis:SSNDataQuality>2</hmis:SSNDataQuality>
                  <hmis:DOB>2014-11-18</hmis:DOB>
                  <hmis:DOBDataQuality>1</hmis:DOBDataQuality>
                  <hmis:Gender>3</hmis:Gender>
                  <hmis:OtherGender>intersex</hmis:OtherGender>
                  <hmis:Ethnicity>0</hmis:Ethnicity>
                  <hmis:Race>8</hmis:Race>
                  <hmis:VeteranStatus>9</hmis:VeteranStatus>
                </hmis:Client>
    /enrollments:
      type: {
        collection: {
            id_schema_json: enrollment_id_json,  
            schema_json:  enrollment_json,
            schema_xml:  enrollment_xml,
            schema_array_json: enrollments_json,
            schema_array_xml: enrollments_xml
        }
      }
      description: Work with enrollments for a particular client.
      get:
        description: Fetches all the enrollment ids for a given client, or a subset of them, if a query parameter is used.
        #securedBy: [oauth_2_0: { scopes: [ user ] } ]
        queryParameters:
        responses:
          200:
            body:  
              application/json:
                example: |
                  "enrollment_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                schema: enrollment_ids_json
      post:
        description: Adds an enrollment for a given client. 
      put:
        description: Bulk update of enrollments for a given client
      delete:
        description: Bulk deletion of a client's enrollments.
      /{enroll_id}:
        type:
          member:
            schema_json:  enrollment_json
            schema_xml:  enrollment_xml
        description: Work with a specific enrollment for a particular client.
        uriParameters:
          enroll_id:
            displayName: Enrollment Identifier 
            type: string
            example: ADBC1111211111114111111111D1111V
        get:
          description: Fetches one specific enrollment for a given client.
        put:
          description: Updates one specific enrollment for a specific client.
          body:
            application/json:
              example: |
                {
                  "ProjectEntryID" : "12345678901234567890123456789012",
                  "PersonalID" : "ADBC1111211111114111111111D1111V",
                  "ProjectID" : "99123456789012345678901234567890"
                  "EntryDate" : "10-12-2014",
                  "HouseholdID" : "77123456789012345678901234567890",
                  "ResidencePrior" : "3",
                  "DateCreated" : "2012-04-23T18:25:43.511Z",
                  "DateUpdated" : "2013-04-23T18:25:43.511Z",
                  "UserID": "77123456789012345678901234567890"
                }
            application/xml:
              example: |
                <hmis:Enrollment hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                  <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                  <hmis:PersonalID>A1a1</hmis:PersonalID>
                  <hmis:ProjectID>222D</hmis:ProjectID>
                  <hmis:EntryDate>2016-04-12Z</hmis:EntryDate>
                  <hmis:HouseholdID>a34563w</hmis:HouseholdID>
                  <hmis:RelationshipToHoH>1</hmis:RelationshipToHoH>
                  <hmis:ResidencePrior>12</hmis:ResidencePrior>
                  <hmis:OtherResidencePrior>some other residence text here</hmis:OtherResidencePrior>
                  <hmis:ResidencePriorLengthOfStay>8</hmis:ResidencePriorLengthOfStay>
                  <hmis:ContinuouslyHomelessOneYear>8</hmis:ContinuouslyHomelessOneYear>
                  <hmis:TimesHomelessPastThreeYears>0</hmis:TimesHomelessPastThreeYears>
                  <hmis:MonthsHomelessPastThreeYears>103</hmis:MonthsHomelessPastThreeYears>
                  <hmis:MonthsHomelessThisTime>101</hmis:MonthsHomelessThisTime>
                  <hmis:YearsHomeless>3</hmis:YearsHomeless>
                  <hmis:StatusDocumented>1</hmis:StatusDocumented>
                  <hmis:DisablingCondition>9</hmis:DisablingCondition>
                  <hmis:HousingStatus>6</hmis:HousingStatus>
                </hmis:Enrollment>
        delete:
          description: Deletes one specific enrollment for a specific client.
        /commercial_sexual_exploitations:
          type: {
            collection: {
                id_schema_json: commercialSexualExploitation_id_json,  
                schema_json:  commercialSexualExploitation_json,
                schema_xml:  commercialSexualExploitation_xml,
                schema_array_json: commercialSexualExploitations_json,
                schema_array_xml: commercialSexualExploitations_xml
              }
            }
          description: Work with commercialSexualExploitations for a particular enrollment.
          get:
            description: Fetches all the commercialSexualExploitation ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "commercialSexualExploitation_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: commercialSexualExploitation_ids_json
          post:
            description: Adds an commercialSexualExploitation for a given enrollment. 
          put:
            description: Bulk update of commercialSexualExploitations for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's commercialSexualExploitations.
          /{commercial_sexual_exploitation_id}:
            type:
              member:
                schema_json:  commercialSexualExploitation_json
                schema_xml:  commercialSexualExploitation_xml
            description: Work with a specific commercialSexualExploitation for a particular enrollment.
            uriParameters:
              commercial_sexual_exploitation_id:
                displayName: commercialSexualExploitation Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific commercialSexualExploitation for a given enrollment.
            put:
              description: Updates one specific commercialSexualExploitation for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "ExchangeForSexPastThreeMonths":"3",
                      "CountOfExchangeForSex":"24",
                      "AskedOrForcedToExchangeForSex":"12",
                      "dataCollectionStage":"4",
                      "informationDate":"12-08-2014",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:CommercialSexualExploitation hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:ExchangeForSexPastThreeMonths>3</hmis:ExchangeForSexPastThreeMonths>
                      <hmis:CountOfExchangeForSex>24</hmis:CountOfExchangeForSex>
                      <hmis:AskedOrForcedToExchangeForSex>12</hmis:AskedOrForcedToExchangeForSex>
                      <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                      <hmis:informationDate>12-08-2014</hmis:informationDate>
                      </hmis:CommercialSexualExploitation>
            delete:
              description: Deletes one specific commercial_sexual_exploitation for a specific enrollment
        /date_of_engagements:
          type: {
            collection: {
                id_schema_json: dateOfEngagement_id_json,  
                schema_json:  dateOfEngagement_json,
                schema_xml:  dateOfEngagement_xml,
                schema_array_json: dateOfEngagements_json,
                schema_array_xml: dateOfEngagements_xml
            }
          }
          description: Work with dateOfEngagements for a particular enrollment.
          get:
            description: Fetches all the dateOfEngagement ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "date_of_engagement_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: dateOfEngagement_ids_json
          post:
            description: Adds an dateOfEngagement for a given enrollment. 
          put:
            description: Bulk update of dateOfEngagements for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's dateOfEngagements.
          /{date_of_engagement_id}:
            type:
              member:
                schema_json:  dateOfEngagement_json
                schema_xml:  dateOfEngagement_xml
            description: Work with a specific dateOfEngagement for a particular enrollment.
            uriParameters:
              date_of_engagement_id:
                displayName: date_of_engagement Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific dateOfEngagement for a given enrollment.
            put:
              description: Updates one specific dateOfEngagement for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "DateOfEngagement":"12-08-2014",
                      "DateOfEngagementID":"234rftghbyujtfr56hgbdcpolimhykrng,
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:DateOfEngagement hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                       <hmis:DateOfEngagement>12-08-2014</hmis:DateOfEngagement>
                      <hmis:DateOfEngagementID>234rftghbyujtfr56hgbdcpolimhykrng</hmis:DateOfEngagementID>
                      </hmis:DateOfEngagement>
            delete:
              description: Deletes one specific dateOfEngagement for a specific enrollment
        /disabilities:
          type: {
            collection: {
                id_schema_json: disabilities_id_json,  
                schema_json:  disabilities_json,
                schema_xml:  disabilities_xml,
                schema_array_json: disabilitieses_json,
                schema_array_xml: disabilitieses_xml
              }
            }
          description: Work with disabilitieses for a particular enrollment.
          get:
            description: Fetches all the disabilities ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "disabilities_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: disabilities_ids_json
          post:
            description: Adds an disabilities for a given enrollment. 
          put:
            description: Bulk update of disabilitieses for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's disabilitieses.
          /{disabilities_id}:
            type:
              member:
                schema_json:  disabilities_json
                schema_xml:  disabilities_xml
            description: Work with a specific disabilities for a particular enrollment.
            uriParameters:
              disabilities_id:
                displayName: disabilities Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific disabilities for a given enrollment.
            put:
              description: Updates one specific disabilities for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                     "ProjectEntryID" : "12345678901234567890123456789012",
                      "DisabilitiesID":"12345adr901234567890123456789012",
                      "dataCollectionStage":"4",
                      "informationDate":"12-08-2014",
                      "DisabilityType":"15",
                      "DisabilityResponse":"3",
                      "IndefiniteAndImpairs":"6",
                      "DocumentationOnFile":"5",
                      "ReceivingServices":"15",
                      "PATHHowConfirmed":"5",
                      "PATHSMIInformation":"1",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:Disabilities hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:DisabilitiesID>12345adr901234567890123456789012</hmis:DisabilitiesID>
                      <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                      <hmis:informationDate>12-08-2014</hmis:informationDate>
                      <hmis:DisabilityType>15</hmis:DisabilityType>
                      <hmis:DisabilityResponse>3</hmis:DisabilityResponse>
                      <hmis:IndefiniteAndImpairs>6</hmis:IndefiniteAndImpairs>
                      <hmis:DocumentationOnFile>5</hmis:DocumentationOnFile>
                      <hmis:ReceivingServices>15</hmis:ReceivingServices>
                      <hmis:PATHHowConfirmed>5</hmis:PATHHowConfirmed>
                      <hmis:PATHSMIInformation>1</hmis:PATHSMIInformation>
                      </hmis:Disabilities>
            delete:
              description: Deletes one specific disabilities for a specific enrollment
        /domestic_violences:
          type: {
            collection: {
                id_schema_json: domesticViolences_id_json,  
                schema_json:  domesticViolences_json,
                schema_xml:  domesticViolences_xml,
                schema_array_json: domesticViolenceses_json,
                schema_array_xml: domesticViolenceses_xml
            }
          }
          description: Work with domesticViolenceses for a particular enrollment.
          get:
            description: Fetches all the domesticViolences ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "domestic_violences_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: domesticViolences_ids_json
          post:
            description: Adds an domesticViolences for a given enrollment. 
          put:
            description: Bulk update of domesticViolenceses for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's domesticViolenceses.
          /{domestic_violences_id}:
            type:
              member:
                schema_json:  domesticViolences_json
                schema_xml:  domesticViolences_xml
            description: Work with a specific domesticViolences for a particular enrollment.
            uriParameters:
              domestic_violences_id:
                displayName: domesticViolences Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific domestic_violences for a given enrollment.
            put:
              description: Updates one specific domesticViolences for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "dataCollectionStage":"4",
                      "informationDate":"12-18-2014",
                      "DomesticViolenceID":"ekiu7865tfdrbho908uyht52sdyrhbvdso",
                      "DomesticViolenceVictim":"2",
                      "WhenOccurred":"3
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:DomesticViolences hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                      <hmis:informationDate>12-18-2014</hmis:informationDate> <hmis:DomesticViolenceID>ekiu7865tfdrbho908uyht52sdyrhbvdso</hmis:DomesticViolenceID>
                       <hmis:DomesticViolenceVictim>2</hmis:DomesticViolenceVictim>
                      <hmis:WhenOccurred>3</hmis:WhenOccurred>
                      </hmis:DomesticViolences>
            delete:
              description: Deletes one specific domesticViolences for a specific enrollment
        /employments:
          type: {
            collection: {
                id_schema_json: employment_id_json,  
                schema_json:  employment_json,
                schema_xml:  employment_xml,
                schema_array_json: employments_json,
                schema_array_xml: employments_xml
              }
            }
          description: Work with employments for a particular enrollment.
          get:
            description: Fetches all the employment ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "employment_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: employment_ids_json
          post:
            description: Adds an employment for a given enrollment. 
          put:
            description: Bulk update of employments for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's employments.
          /{employment_id}:
            type:
              member:
                schema_json:  employment_json
                schema_xml:  employment_xml
            description: Work with a specific employment for a particular enrollment.
            uriParameters:
              employment_id:
                displayName: employment Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific employment for a given enrollment.
            put:
              description: Updates one specific employment for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "EmploymentID":"wedjiuy76549iurhcndre67453si987yt5j",
                      "dataCollectionStage":"4",
                      "informationDate":"11-18-2014T18:25:43.511Z",
                      "Employed":"5",
                      "EmploymentType":"23",
                      "NotEmployedReason":"6",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:Employment hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                       <hmis:EmploymentID>wedjiuy76549iurhcndre67453si987yt5j</hmis:EmploymentID>
                      <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                      <hmis:informationDate>11-18-2014</hmis:informationDate>
                      <hmis:Employed>5</hmis:Employed>
                      <hmis:EmploymentType>23</hmis:EmploymentType>
                      <hmis:NotEmployedReason>6</hmis:NotEmployedReason>
                      </hmis:Employment>
            delete:
              description: Deletes one specific employment for a specific enrollment
        /enrollment_cocs:
          type: {
            collection: {
                id_schema_json: enrollment_coc_id_json,  
                schema_json:  enrollment_coc_json,
                schema_xml:  enrollment_coc_xml,
                schema_array_json: enrollments_cocs_json,
                schema_array_xml: enrollments_coc_xml
              }
            }
          put:
            body:
              application/json:
                example: |
                  {"Enrollments":[{"EnrollmentCoCID":"csssssaassasfdfreswssaaasdffrfre","ProjectID":"csssssaassasfdfreswssaaasdffrfre","CoCCode":"AB-123","DateCreated":"10-12-2014","DateUpdated":"11-14-2014","UserID":"gsmith"},       {"EnrollmentCoCID":"zxssssaassasfdfreswssaaasdffrfre","ProjectID":"abcsteaassasrdyreswssaaasdffrfre","CoCCode":"CD-456","DateCreated":"09-20-2014","DateUpdated":"10-21-2014","UserID":"psmith"}]}
          /{enrollment_coc_id}:
            get:
              body:
                application/json:
                  example: \        {"EnrollmentCoCID":"csssssaassasfdfreswssaaasdffrfre","ProjectEntryID":"csssssaassasfdfreswssaaasdffrfre","CoCCode":"AB-123",  "dataCollectionStage":"5",
                       "informationDate":"2014-04-27T18:25:43.511Z", "DateCreated":"10-12-2014","DateUpdated":"11-14-2014","UserID":"gsmith"}
        /exits:
          type: {
            collection: {
                id_schema_json: exit_id_json,  
                schema_json:  exit_json,
                schema_xml:  exit_xml,
                schema_array_json: exits_json,
                schema_array_xml: exits_xml
            }
          }
          description: Work with exits for a particular enrollment.
          get:
            description: Fetches all the exit ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "exit_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: exit_ids_json
          post:
            description: Adds an exit for a given enrollment. 
          put:
            description: Bulk update of exits for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's exits.
            
          /{exit_id}:
            type:
              member:
                schema_json:  exit_json
                schema_xml:  exit_xml
            description: Work with a specific exit for a particular enrollment.
            uriParameters:
              exit_id:
                displayName: exit Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific exit for a given enrollment.
            put:
              description: Updates one specific exit for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "ExitID":"eiuyhtfdrgb564389023retwdsvxfrteud",
                      "ExitDate":"2012-04-27T18:25:43.511Z",
                      "Destination":"3",
                      "OtherDestination":"7",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:Exit hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:ExitID>eiuyhtfdrgb564389023retwdsvxfrteud</hmis:ExitID>
                      <hmis:ExitDate>2012-04-27T18:25:43.511Z</hmis:ExitDate>
                      <hmis:Destination>3</hmis:Destination>
                      <hmis:OtherDestination>7</hmis:OtherDestination>
                      </hmis:Exit>
            delete:
              description: Deletes one specific exit for a specific enrollment
            /connection_with_soars:
              type: {
                collection: {
                  id_schema_json: connection_with_soar_id_json,  
                  schema_json:  connection_with_soar_json,
                  schema_xml:  connection_with_soar_xml,
                  schema_array_json: connection_with_soars_json,
                  schema_array_xml: connection_with_soars_xml
                      }
                    }
              description: Work with connection_with_soars for a particular exit.
              get:
                description: Fetches all the connection_with_soar ids for a given exit, or a subset of them, if a query parameter is used.
                #securedBy: [oauth_2_0: { scopes: [ user ] } ]
                queryParameters:
                responses:
                    200:
                      body:  
                        application/json:
                          example: |
                            "connection_with_soar_ids":[{"ExitID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ExitID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                          schema: connection_with_soar_ids_json
              post:
                description: Adds an connection_with_soar for a given exit. 
              put:
                description: Bulk update of connection_with_soars for a given exit
              delete:
                description: Bulk deletion of a exit's connection_with_soars.
              /{connection_with_soar_id}:
                type: 
                  member: 
                    schema_json: connection_with_soar_json
                    schema_xml: connection_with_soar_xml
                description: Work with a specific connection_with_soar for a particular exit.
                uriParameters:
                  connection_with_soar_id:
                    displayName: connection_with_soar identifier
                    type: string
                    example: ADBC1111211111114111111111D1111V
                get:
                  description: Fetches one specific connection_with_soar for a given exit
                put:
                  description: Updates one specific connection_with_soar for a given exit
                  body:
                    application/json:
                      example: |
                        {
                        "EXITID" : "12345678901234567890123456789012",
                        ...
                        "DateCreated" : "2012-04-23T18:25:43.511Z",
                        "DateUpdated" : "2013-04-23T18:25:43.511Z",
                        "UserID": "77123456789012345678901234567890"
                        }
                    application/xml:
                      example: |
                        <hmis:connection_with_soar hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                        ....
                        </hmis:connection_with_soar>
                delete:
                  description: Deletes one specific connection_with_soar for a specific exit
            /exit_housing_assessments:
              type: {
                collection: {
                  id_schema_json: exit_housing_assessment_id_json,  
                  schema_json:  exit_housing_assessment_json,
                  schema_xml:  exit_housing_assessment_xml,
                  schema_array_json: exit_housing_assessments_json,
                  schema_array_xml: exit_housing_assessments_xml
                      }
                    }
              description: Work with exit_housing_assessments for a particular exit.
              get:
                description: Fetches all the exit_housing_assessment ids for a given exit, or a subset of them, if a query parameter is used.
                #securedBy: [oauth_2_0: { scopes: [ user ] } ]
                queryParameters:
                responses:
                    200:
                      body:  
                        application/json:
                          example: |
                            "exit_housing_assessment_ids":[{"ExitID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ExitID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                          schema: exit_housing_assessment_ids_json
              post:
                description: Adds an exit_housing_assessment for a given exit. 
              put:
                description: Bulk update of exit_housing_assessments for a given exit
              delete:
                description: Bulk deletion of a exit's exit_housing_assessments.
              /{exit_housing_assessment_id}:
                type: 
                  member: 
                    schema_json: exit_housing_assessment_json
                    schema_xml: exit_housing_assessment_xml
                description: Work with a specific exit_housing_assessment for a particular exit.
                uriParameters:
                  exit_housing_assessment_id:
                    displayName: exit_housing_assessment identifier
                    type: string
                    example: ADBC1111211111114111111111D1111V
                get:
                  description: Fetches one specific exit_housing_assessment for a given exit
                put:
                  description: Updates one specific exit_housing_assessment for a given exit
                  body:
                    application/json:
                      example: |
                        {
                        "ExitID" : "12345678901234567890123456789012",
                        ...
                        "DateCreated" : "2012-04-23T18:25:43.511Z",
                        "DateUpdated" : "2013-04-23T18:25:43.511Z",
                        "UserID": "77123456789012345678901234567890"
                        }
                    application/xml:
                      example: |
                        <hmis:exit_housing_assessment hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                        ....
                        </hmis:exit_housing_assessment>
                delete:
                  description: Deletes one specific exit_housing_assessment for a specific exit.
            /exit_plans_actionses:
              type: {
                collection: {
                  id_schema_json: exit_plans_actions_id_json,  
                  schema_json:  exit_plans_actions_json,
                  schema_xml:  exit_plans_actions_xml,
                  schema_array_json: exit_plans_actionses_json,
                  schema_array_xml: exit_plans_actionses_xml
                      }
                    }
              description: Work with exit_plans_actionses for a particular exit.
              get:
                description: Fetches all the exit_plans_actions ids for a given exit, or a subset of them, if a query parameter is used.
                #securedBy: [oauth_2_0: { scopes: [ user ] } ]
                queryParameters:
                responses:
                    200:
                      body:  
                        application/json:
                          example: |
                            "exit_plans_actions_ids":[{"ExitID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ExitID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                          schema: exit_plans_actions_ids_json
              post:
                description: Adds an exit_plans_actions for a given exit. 
              put:
                description: Bulk update of exit_plans_actionses for a given exit
              delete:
                description: Bulk deletion of a exit's exit_plans_actionses
              /{exit_plans_actions_id}:
                type: 
                  member: 
                    schema_json: exit_plans_actions_json
                    schema_xml: exit_plans_actions_xml
                description: Work with a specific exit_plans_actions for a particular exit.
                uriParameters:
                  exit_plans_actions_id:
                    displayName: exit_plans_actions identifier
                    type: string
                    example: ADBC1111211111114111111111D1111V
                get:
                  description: Fetches one specific exit_plans_actions for a given exit
                put:
                  description: Updates one specific exit_plans_actions for a given exit
                  body:
                    application/json:
                      example: |
                        {
                        "ExitID" : "12345678901234567890123456789012",
                        ...
                        "DateCreated" : "2012-04-23T18:25:43.511Z",
                        "DateUpdated" : "2013-04-23T18:25:43.511Z",
                        "UserID": "77123456789012345678901234567890"
                        }
                    application/xml:
                      example: |
                        <hmis:exit_plans_actions hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                        ....
                        </hmis:exit_plans_actions>
                delete:
                  description: Deletes one specific exit_plans_actions for a specific exit
            /family_reunifications:
              type: {
                collection: {
                  id_schema_json: family_reunification_id_json,  
                  schema_json:  family_reunification_json,
                  schema_xml:  family_reunification_xml,
                  schema_array_json: family_reunifications_json,
                  schema_array_xml: family_reunifications_xml
                      }
                    }
              description: Work with family_reunifications for a particular exit.
              get:
                description: Fetches all the family_reunification ids for a given exit, or a subset of them, if a query parameter is used.
                #securedBy: [oauth_2_0: { scopes: [ user ] } ]
                queryParameters:
                responses:
                    200:
                      body:  
                        application/json:
                          example: |
                            "family_reunification_ids":[{"ExitID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ExitID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                          schema: family_reunification_ids_json
              post:
                description: Adds an family_reunification for a given exit. 
              put:
                description: Bulk update of family_reunifications for a given exit
              delete:
                description: Bulk deletion of a exit's family_reunifications.
              /{family_reunification_id}: 
                type: 
                  member: 
                    schema_json: family_reunification_json
                    schema_xml: family_reunification_xml
                description: Work with a specific family_reunification for a particular exit.
                uriParameters:
                  family_reunification_id:
                    displayName: family_reunification identifier
                    type: string
                    example: ADBC1111211111114111111111D1111V
                get:
                  description: Fetches one specific family_reunification for a given exit
                put:
                  description: Updates one specific family_reunification for a given exit
                  body:
                    application/json:
                      example: |
                        {
                        "ExitID" : "12345678901234567890123456789012",
                        ...
                        "DateCreated" : "2012-04-23T18:25:43.511Z",
                        "DateUpdated" : "2013-04-23T18:25:43.511Z",
                        "UserID": "77123456789012345678901234567890"
                        }
                    application/xml:
                      example: |
                        <hmis:family_reunification hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                        ....
                        </hmis:family_reunification>
                delete:
                  description: Deletes one specific family_reunification for a specific exit.             
            /housing_assessment_dispositions:
              type: {
                collection: {
                  id_schema_json: housingAssessmentDisposition_id_json,  
                  schema_json:  housingAssessmentDisposition_json,
                  schema_xml:  housingAssessmentDisposition_xml,
                  schema_array_json: housingAssessmentDispositions_json,
                  schema_array_xml: housingAssessmentDispositions_xml
                      }
                    }
              description: Work with housing_assessment_dispositions for a particular client.
              get:
                description: Fetches all the housing_assessment_disposition ids for a given client, or a subset of them, if a query parameter is used.
                #securedBy: [oauth_2_0: { scopes: [ user ] } ]
                queryParameters:
                responses:
                    200:
                      body:  
                        application/json:
                          example: |
                            "housing_assessment_disposition_ids":[{"ExitID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ExitID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                          schema: housing_assessment_disposition_ids_json
              post:
                description: Adds an housing_assessment_disposition for a given exit. 
              put:
                description: Bulk update of housing_assessment_dispositions for a given exit
              delete:
                description: Bulk deletion of a exit's housing_assessment_dispositions.
              /{housing_assessment_disposition_id}:
                type: 
                  member: 
                    schema_json: housing_assessment_disposition_json
                    schema_xml: housing_assessment_disposition_xml
                description: Work with a specific housing_assessment_disposition for a particular exit.
                uriParameters:
                  housing_assessment_disposition_id:
                    displayName: housing_assessment_disposition identifier
                    type: string
                    example: ADBC1111211111114111111111D1111V
                get:
                  description: Fetches one specific housing_assessment_disposition for a given exit
                put:
                  description: Updates one specific housing_assessment_disposition for a given exit
                  body:
                    application/json:
                      example: |
                        {
                        "ExitID" : "12345678901234567890123456789012",
                        ...
                        "DateCreated" : "2012-04-23T18:25:43.511Z",
                        "DateUpdated" : "2013-04-23T18:25:43.511Z",
                        "UserID": "77123456789012345678901234567890"
                        }
                    application/xml:
                      example: |
                        <hmis:Housing_assessment_disposition hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                        ....
                        </hmis:Housing_assessment_disposition>
                delete:
                  description: Deletes one specific housing_assessment_disposition for a specific exit. 
            /project_completion_statuses:
              type: {
                collection: {
                  id_schema_json: project_completion_status_id_json,  
                  schema_json:  project_completion_status_json,
                  schema_xml:  project_completion_status_xml,
                  schema_array_json: project_completion_statuses_json,
                  schema_array_xml: project_completion_statuses_xml
                      }
                    }
              description: Work with project_completion_statuses for a particular exit.
              get:
                description: Fetches all the project_completion_status ids for a given exit, or a subset of them, if a query parameter is used.
                #securedBy: [oauth_2_0: { scopes: [ user ] } ]
                queryParameters:
                responses:
                    200:
                      body:  
                        application/json:
                          example: |
                            "project_completion_status_ids":[{"ExitID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ExitID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                          schema: project_completion_status_ids_json
              post:
                description: Adds an project_completion_status for a given exit. 
              put:
                description: Bulk update of project_completion_statuses for a given exit
              delete:
                description: Bulk deletion of a exit's project_completion_statuses.              
              /{project_completion_status_id}:
                type: 
                  member: 
                    schema_json: project_completion_status_json
                    schema_xml: project_completion_status_xml
                description: Work with a specific project_completion_status for a particular exit.
                uriParameters:
                  project_completion_status_id:
                    displayName: project_completion_status identifier
                    type: string
                    example: ADBC1111211111114111111111D1111V
                get:
                  description: Fetches one specific project_completion_status for a given exit
                put:
                  description: Updates one specific project_completion_status for a given exit
                  body:
                    application/json:
                      example: |
                        {
                        "ExitID" : "12345678901234567890123456789012",
                        ...
                        "DateCreated" : "2012-04-23T18:25:43.511Z",
                        "DateUpdated" : "2013-04-23T18:25:43.511Z",
                        "UserID": "77123456789012345678901234567890"
                        }
                    application/xml:
                      example: |
                        <hmis:project_completion_status hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                        ....
                        </hmis:project_completion_status>
                delete:
                  description: Deletes one specific project_completion_status for a specific exit
        /former_ward_child_welfares:
          type: {
            collection: {
                id_schema_json: formerWardChildWelfare_id_json,  
                schema_json:  formerWardChildWelfare_json,
                schema_xml:  formerWardChildWelfare_xml,
                schema_array_json: formerWardChildWelfares_json,
                schema_array_xml: formerWardChildWelfares_xml
              }
            }
          description: Work with ormerWardChildWelfares for a particular enrollment.
          get:
            description: Fetches all the formerWardChildWelfare ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "formerWardChildWelfare_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: formerWardChildWelfare_ids_json
          post:
            description: Adds an formerWardChildWelfare for a given enrollment. 
          put:
            description: Bulk update of formerWardChildWelfares for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's formerWardChildWelfares.
          /{former_ward_child_welfare_id}:
            type:
              member:
                schema_json:  formerWardChildWelfare_json
                schema_xml:  formerWardChildWelfare_xml
            description: Work with a specific formerWardChildWelfare for a particular enrollment.
            uriParameters:
              former_ward_child_welfare_id:
                displayName: formerWardChildWelfare Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific formerWardChildWelfare for a given enrollment.
            put:
              description: Updates one specific formerWardChildWelfare for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "FormerWardChildWelfareID":"12345678901234567890123456789012",
                       "FormerWardChildWelfare":"3",
                       "ChildWelfareYears":"4",
                       "ChildWelfareMonths":"7",
                       "InformationDate":"2014-04-23T18:25:43.511Z",
                       "DataCollectionStage":"3",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:FormerWardChildWelfare hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID> <hmis:FormerWardChildWelfareID>12345678901234567890123456789012</hmis:FormerWardChildWelfareID>
                       <hmis:FormerWardChildWelfare>3</hmis:FormerWardChildWelfare>
                       <hmis:ChildWelfareYears>4</hmis:ChildWelfareYears>
                       <hmis:ChildWelfareMonths>7</hmis:ChildWelfareMonths>
                       <hmis:InformationDate>2014-04-23T18:25:43.511Z</hmis:InformationDate>
                       <hmis:DataCollectionStage>3</hmis:DataCollectionStage>
                      </hmis:FormerWardChildWelfare>
            delete:
              description: Deletes one specific formerWardChildWelfare for a specific enrollment
        /former_ward_juvenile_justices:
          type: {
            collection: {
                id_schema_json: formerWardJuvenileJustice_id_json,  
                schema_json:  formerWardJuvenileJustice_json,
                schema_xml:  formerWardJuvenileJustice_xml,
                schema_array_json: formerWardJuvenileJustices_json,
                schema_array_xml: formerWardJuvenileJustices_xml
              }
            }
          description: Work with formerWardJuvenileJustices for a particular enrollment.
          get:
            description: Fetches all the formerWardJuvenileJustice ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "formerWardJuvenileJustice_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: formerWardJuvenileJustice_ids_json
          post:
            description: Adds an formeWardJuvenileJustice for a given enrollment. 
          put:
            description: Bulk update of formerWardJuvenileJustices for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's formerWardJuvenileJustices.
          /{former_ward_juvenile_justice_id}:
            type:
              member:
                schema_json:  formerWardJuvenileJustice_json
                schema_xml:  formerWardJuvenileJustice_xml
            description: Work with a specific formerWardJuvenileJustice for a particular enrollment.
            uriParameters:
              former_ward_juvenile_justice_id:
                displayName: formerWardJuvenileJustice Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific formerWardJuvenileJustice for a given enrollment.
            put:
              description: Updates one specific formerWardJuvenileJustice for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "FormerWardJuvenileJusticeID":"eiuyhtfdrgb564389023retwdsvxfrteud",
                     "FormerWardJuvenileJustice":"4",
                     "JuvenileJusticeYears":"4",
                     "JuvenileJusticeMonths":"2",
                     "dataCollectionStage":"5",
                     "informationDate":"2014-04-27T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:FormerWardJuvenileJustice hmis:dateCreated="2015-05-08T23:14:59" <hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe"><hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:FormerWardJuvenileJusticeID>eiuyhtfdrgb564389023retwdsvxfrteud</hmis:FormerWardJuvenileJusticeID>
                       <hmis:FormerWardJuvenileJustice>4</hmis:FormerWardJuvenileJustice>
                       <hmis:JuvenileJusticeYears>4</hmis:JuvenileJusticeYears>
                       <hmis:JuvenileJusticeMonths>2</hmis:JuvenileJusticeMonths>
                       <hmis:dataCollectionStage>5</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-27T18:25:43.511Z</hmis:informationDate>
                      </hmis:FormerWardJuvenileJustice>
            delete:
              description: Deletes one specific formerWardJuvenileJustice for a specific enrollment
        /health_insurances:
          type: {
            collection: {
                id_schema_json: healthInsurance_id_json,  
                schema_json:  healthInsurance_json,
                schema_xml:  healthInsurance_xml,
                schema_array_json: healthInsurances_json,
                schema_array_xml: healthInsurances_xml
              }
            }
          description: Work with healthInsurances for a particular enrollment.
          get:
            description: Fetches all the healthInsurance ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "health_insurance_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: healthInsurance_ids_json
          post:
            description: Adds an healthInsurance for a given enrollment. 
          put:
            description: Bulk update of healthInsurances for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's healthInsurances.
          /{health_insurance_id}:
            type:
              member:
                schema_json:  healthInsurance_json
                schema_xml:  healthInsurance_xml
            description: Work with a specific healthInsurance for a particular enrollment.
            uriParameters:
              health_insurance_id:
                displayName: healthInsurance Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific healthInsurance for a given enrollment.
            put:
              description: Updates one specific healthInsurance for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                     "HealthInsuranceID":"12eiuyhtfdrgb564389023retwdsvxfr",
                       "InsuranceFromAnySource":"2",
                       "Medicaid":"No",
                       "NoMedicaidReason":"2",
                       "Medicare":"0",
                       "NoMedicareReason":"1",
                       "SCHIP":"0",
                       "NoSCHIPReason":"3",
                       "VAMedicalServices":"1",
                       "NoVAMedReason":"0",
                       "EmployerProvided":"0",
                       "NoEmployerProvidedReason":"0",
                       "COBRA":"0",
                       "NoCOBRAReason":"0",
                       "PrivatePay":"2",
                       "NoPrivatePayReason":"1",
                       "StateHealthIns":"0",
                       "NoStateHealthInsReason":"1",
                       "dataCollectionStage":"4",
                       "informationDate":"2014-04-20T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:HealthInsurance hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:HealthInsuranceID>12eiuyhtfdrgb564389023retwdsvxfr</hmis:HealthInsuranceID>
                       <hmis:InsuranceFromAnySource>2</hmis:InsuranceFromAnySource>
                       <hmis:Medicaid>No</hmis:Medicaid>
                       <hmis:NoMedicaidReason>2</hmis:NoMedicaidReason>
                       <hmis:Medicare>0</hmis:Medicare>
                       <hmis:NoMedicareReason>1</hmis:NoMedicareReason>
                       <hmis:SCHIP>0</hmis:SCHIP>
                       <hmis:NoSCHIPReason>3</hmis:NoSCHIPReason>
                       <hmis:VAMedicalServices>1</hmis:VAMedicalServices>
                       <hmis:NoVAMedReason>0</hmis:NoVAMedReason>
                       <hmis:EmployerProvided>0</hmis:EmployerProvided>
                       <hmis:NoEmployerProvidedReason>0</hmis:NoEmployerProvidedReason>
                       <hmis:COBRA>0</hmis:COBRA>
                       <hmis:NoCOBRAReason>0</hmis:NoCOBRAReason>
                       <hmis:PrivatePay>2</hmis:PrivatePay>
                       <hmis:NoPrivatePayReason>1</hmis:NoPrivatePayReason>
                       <hmis:StateHealthIns>0</hmis:StateHealthIns>
                       <hmis:NoStateHealthInsReason>1</hmis:NoStateHealthInsReason>
                       <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-20T18:25:43.511Z</hmis:informationDate>
                      </hmis:HealthInsurance>
            delete:
              description: Deletes one specific healthInsurance for a specific enrollment
        /health_statuses:
          type: {
            collection: {
                id_schema_json: healthStatus_id_json,  
                schema_json:  healthStatus_json,
                schema_xml:  healthStatus_xml,
                schema_array_json: healthStatuses_json,
                schema_array_xml: healthStatuses_xml
              }
            }
          description: Work with healthStatuses for a particular enrollment.
          get:
            description: Fetches all the healthStatus ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "healthStatus_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: healthStatus_ids_json
          post:
            description: Adds an healthStatus for a given enrollment. 
          put:
            description: Bulk update of healthStatuses for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's healthStatuses.
          /{health_status_id}:
            type:
              member:
                schema_json:  healthStatus_json
                schema_xml:  healthStatus_xml
            description: Work with a specific healthStatus for a particular enrollment.
            uriParameters:
              health_status_id:
                displayName: healthStatus Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific health_status for a given enrollment.
            put:
              description: Updates one specific health_status for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "HealthStatusID":"12eiuyhtfdrgb564389023retwdsvxfr",
                       "HealthCategory":"3",
                       "HealthStatus":"3",
                       "DueDate":"2014-09-20T18:25:43.511Z",
                       "dataCollectionStage":"4",
                       "informationDate":"2014-04-20T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:HealthStatus hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:HealthStatusID>12eiuyhtfdrgb564389023retwdsvxfr</hmis:HealthStatusID>
                       <hmis:HealthCategory>3</hmis:HealthCategory>
                       <hmis:HealthStatus>3</hmis:HealthStatus>
                       <hmis:DueDate>2014-09-20T18:25:43.511Z</hmis:DueDate>
                       <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-20T18:25:43.511Z</hmis:informationDate>
                      </hmis:HealthStatus>
            delete:
              description: Deletes one specific healthStatus for a specific enrollment
        /income_and_sources:
          type: {
            collection: {
                id_schema_json: incomeAndSource_id_json,  
                schema_json:  incomeAndSource_json,
                schema_xml:  incomeAndSource_xml,
                schema_array_json: incomeAndSourcees_json,
                schema_array_xml: incomeAndSourceses_xml
              }
            }
          description: Work with incomeAndSourceses for a particular enrollment.
          get:
            description: Fetches all the incomeAndSource ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "incomeAndSource_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: income_and_source_ids_json
          post:
            description: Adds an incomeAndSource for a given enrollment. 
          put:
            description: Bulk update of incomeAndSourceses for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's incomeAndSourceses.
          /{income_and_source_id}:
            type:
              member:
                schema_json:  incomeAndSource_json
                schema_xml:  incomeAndSource_xml
            description: Work with a specific incomeAndSource for a particular enrollment.
            uriParameters:
              income_and_source_id:
                displayName: incomeAndSource Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific incomeAndSource for a given enrollment.
            put:
              description: Updates one specific incomeAndSource for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "IncomeAndSourcesID":"12eiuyhtfdrgb564389023retwdsvxfr",
                       "IncomeFromAnySource":"1",
                       "TotalMonthlyIncome":"1000",
                       "Earned":"1",
                       "EarnedAmount":"0",
                       "Unemployment":"1",
                       "UnemploymentAmount":"650",
                       "SSI":"0",
                       "SSIAmount":"0",
                       "SSDI":"0",
                       "SSDIAmount":"0",
                       "VADisabilityService":"1",
                       "VADisabilityServiceAmount":"250",
                       "VADisabilityNonService":"0",
                       "VADisabilityNonServiceAmount":"0",
                       "PrivateDisability":"0",
                       "PrivateDisabilityAmount":"0",
                       "WorkersComp":"2",
                       "WorkersCompAmount":"100",
                       "TANF":"0",
                       "TANFAmount":"0",
                       "GA":"0",
                       "GAAmount":"0",
                       "SocSecRetirement":"0",
                       "SocSecRetirementAmount":"0",
                       "Pension":"0",
                       "PensionAmount":"0",
                       "ChildSupport":"0",
                       "ChildSupportAmount":"0",
                       "Alimony":"0",
                       "AlimonyAmount":"0",
                       "OtherSource":"4",
                       "OtherSourceAmount":"35",
                       "OtherSourceIdentify":"6",
                       "OtherAmount":"15",
                       "dataCollectionStage":"4",
                       "informationDate":"2014-04-20T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                    <hmis:IncomeAndSource hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                      <hmis:IncomeAndSourcesID>12eiuyhtfdrgb564389023retwdsvxfr</hmis:IncomeAndSourcesID>
                       <hmis:IncomeFromAnySource>1</hmis:IncomeFromAnySource>
                       <hmis:TotalMonthlyIncome>1000</hmis:TotalMonthlyIncome>
                       <hmis:Earned>1</hmis:Earned>
                       <hmis:EarnedAmount>0</hmis:EarnedAmount>
                       <hmis:Unemployment>1</hmis:Unemployment>
                       <hmis:UnemploymentAmount>650</hmis:UnemploymentAmount>
                       <hmis:SSI>0</hmis:SSI>
                       <hmis:SSIAmount>0</hmis:SSIAmount>
                       <hmis:SSDI>0</hmis:SSDI>
                       <hmis:SSDIAmount>0</hmis:SSDIAmount>
                       <hmis:VADisabilityService>1</hmis:VADisabilityService>
                       <hmis:VADisabilityServiceAmount>250</hmis:VADisabilityServiceAmount>
                       <hmis:VADisabilityNonService>0</hmis:VADisabilityNonService>
                       <hmis:VADisabilityNonServiceAmount>0</hmis:VADisabilityNonServiceAmount>
                       <hmis:PrivateDisability>0</hmis:PrivateDisability>
                       <hmis:PrivateDisabilityAmount>0</hmis:PrivateDisabilityAmount>
                       <hmis:WorkersComp>2</hmis:WorkersComp>
                       <hmis:WorkersCompAmount>100</hmis:WorkersCompAmount>
                       <hmis:TANF>0</hmis:TANF>
                       <hmis:TANFAmount>0</hmis:TANFAmount>
                       <hmis:GA>0</hmis:GA>
                       <hmis:GAAmount>0</hmis:GAAmount>
                       <hmis:SocSecRetirement>0</hmis:SocSecRetirement>
                       <hmis:SocSecRetirementAmount>0</hmis:SocSecRetirementAmount>
                       <hmis:Pension>0</hmis:Pension>
                       <hmis:PensionAmount>0</hmis:PensionAmount>
                       <hmis:ChildSupport>0</hmis:ChildSupport>
                       <hmis:ChildSupportAmount>0</hmis:ChildSupportAmount>
                       <hmis:Alimony>0</hmis:Alimony>
                       <hmis:AlimonyAmount>0</hmis:AlimonyAmount>
                       <hmis:OtherSource>4</hmis:OtherSource>
                       <hmis:OtherSourceAmount>35</hmis:OtherSourceAmount>
                       <hmis:OtherSourceIdentify>6</hmis:OtherSourceIdentify>
                       <hmis:OtherAmount>15</hmis:OtherAmount>
                       <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-20T18:25:43.511Z</hmis:informationDate>
                      </hmis:IncomeAndSource>
            delete:
              description: Deletes one specific incomeAndSource for a specific enrollment  
        /last_grade_completeds:
          type: {
            collection: {
                id_schema_json: lastGradeCompleted_id_json,  
                schema_json:  lastGradeCompleted_json,
                schema_xml:  lastGradeCompleted_xml,
                schema_array_json: lastGradeCompleteds_json,
                schema_array_xml: lastGradeCompleteds_xml
              }
            }
          description: Work with lastGradeCompleteds for a particular enrollment.
          get:
            description: Fetches all the lastGradeCompleted ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "LastGradeCompleted_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: lastGradeCompleted_ids_json
          post:
            description: Adds an lastGradeCompleted for a given enrollment. 
          put:
            description: Bulk update of lastGradeCompletedes for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's lastGradeCompletedes.
          /{last_grade_completed_id}:
            type:
              member:
                schema_json:  lastGradeCompleted_json
                schema_xml:  lastGradeCompleted_xml
            description: Work with a specific lastGradeCompleted for a particular enrollment.
            uriParameters:
              last_grade_completed_id:
                displayName: lastGradeCompleted Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific lastGradeCompleted for a given enrollment.
            put:
              description: Updates one specific lastGradeCompleted for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "LastGradeCompletedID":"12eiuyhtfdrgb564389023retwdsvx22",
                       "LastGradeCompleted":"6",
                       "dataCollectionStage":"4",
                       "informationDate":"2014-04-20T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:LastGradeCompleted hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>   <hmis:LastGradeCompletedID>12eiuyhtfdrgb564389023retwdsvx22</hmis:LastGradeCompletedID>
                       <hmis:LastGradeCompleted>6</hmis:LastGradeCompleted>
                       <hmis:dataCollectionStage>4</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-20T18:25:43.511Z</hmis:informationDate>
                      </hmis:LastGradeCompleted>
            delete:
              description: Deletes one specific lastGradeCompleted for a specific enrollment
        /last_permanent_addresses:
          type: {
            collection: {
                id_schema_json: lastPermanentAddress_id_json,  
                schema_json:  lastPermanentAddress_json,
                schema_xml:  lastPermanentAddress_xml,
                schema_array_json: lastPermanentAddresses_json,
                schema_array_xml: lastPermanentAddresses_xml
              }
            }
          description: Work with lastPermanentAddresses for a particular enrollment.
          get:
            description: Fetches all the lastPermanentAddress ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "last_permanent_address_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: lastPermanentAddress_ids_json
          post:
            description: Adds an lastPermanentAddress for a given enrollment. 
          put:
            description: Bulk update of lastPermanentAddresses for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's lastPermanentAddresses.
          /{last_permanent_address_id}:
            type:
              member:
                schema_json:  lastPermanentAddress_json
                schema_xml:  lastPermanentAddress_xml
            description: Work with a specific lastPermanentAddress for a particular enrollment.
            uriParameters:
              last_permanent_address_id:
                displayName: lastPermanentAddress Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific lastPermanentAddress for a given enrollment.
            put:
              description: Updates one specific lastPermanentAddress for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                       "LastPermanentAddressID":"12eiuyhtfdrgb564389023retwdsvxfr",
                       "LastPermanentStreet":"1008 Fairwood ln",
                       "LastPermanentCity":"Douglas",
                       "LastPermanentState":"GA",
                       "LastPermanentZIP":"30105",
                       "AddressDataQuality":"1",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:LastPermanentAddress hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID> <hmis:LastPermanentAddressID>12eiuyhtfdrgb564389023retwdsvxfr</hmis:LastPermanentAddressID>
                       <hmis:LastPermanentStreet>1008 Fairwood ln</hmis:LastPermanentStreet>
                       <hmis:LastPermanentCity>Douglas</hmis:LastPermanentCity>
                       <hmis:LastPermanentState>GA</hmis:LastPermanentState>
                       <hmis:LastPermanentZIP>30105</hmis:LastPermanentZIP>
                       <hmis:AddressDataQuality>1</hmis:AddressDataQuality>
                      </hmis:LastPermanentAddress>
            delete:
              description: Deletes one specific lastPermanentAddress for a specific enrollment
        /medical_assistances:
          type: {
            collection: {
                id_schema_json: medicalAssistance_id_json,  
                schema_json:  medicalAssistance_json,
                schema_xml:  medicalAssistance_xml,
                schema_array_json: medicalAssistances_json,
                schema_array_xml: medicalAssistances_xml
              }
            }
          description: Work with medicalAssistances for a particular enrollment.
          get:
            description: Fetches all the medicalAssistance ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "medicalAssistance_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: medicalAssistance_ids_json
          post:
            description: Adds an medicalAssistance for a given enrollment. 
          put:
            description: Bulk update of medicalAssistances for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's medicalAssistances.
          /{medical_assistance_id}:
            type:
              member:
                schema_json:  medicalAssistance_json
                schema_xml:  medicalAssistance_xml
            description: Work with a specific medicalAssistance for a particular enrollment.
            uriParameters:
              medical_assistance_id:
                displayName: medicalAssistance Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific medicalAssistance for a given enrollment.
            put:
              description: Updates one specific medicalAssistance for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "MedicalAssistanceID":"eiuyhtfdrgb564389023retwdsvxfrteud",
                       "HIVAIDSAssistance":"1",
                       "NoHIVAIDSAssistanceReason":"0",
                       "ADAP":"3",
                       "NoADAPReason":"3",
                       "dataCollectionStage":"5",
                       "informationDate":"2014-04-27T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:MedicalAssistance hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID> <hmis:MedicalAssistanceID>eiuyhtfdrgb564389023retwdsvxfrteud</hmis:MedicalAssistanceID>
                       <hmis:HIVAIDSAssistance>1</hmis:HIVAIDSAssistance>
                       <hmis:NoHIVAIDSAssistanceReason>0</hmis:NoHIVAIDSAssistanceReason>
                       <hmis:ADAP>3</hmis:ADAP>
                       <hmis:NoADAPReason>3</hmis:NoADAPReason>
                       <hmis:dataCollectionStage>5</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-27T18:25:43.511Z</hmis:informationDate>
                      </hmis:MedicalAssistance>
            delete:
              description: Deletes one specific medicalAssistance for a specific enrollment
        /noncash_benefits:
          type: {
            collection: {
                id_schema_json: nonCashBenefit_id_json,  
                schema_json:  nonCashBenefit_json,
                schema_xml:  nonCashBenefit_xml,
                schema_array_json: nonCashBenefits_json,
                schema_array_xml: nonCashBenefits_xml
              }
            }
          description: Work with noncashBenefits for a particular enrollment.
          get:
            description: Fetches all the nonCashBenefit ids for a given enrollment, or a subset of them, if a query parameter is used.
            #securedBy: [oauth_2_0: { scopes: [ user ] } ]
            queryParameters:
            responses:
              200:
                body:  
                  application/json:
                    example: |
                      "nonCashBenefit_ids":[{"ProjectEntryID":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"},"ProjectEntryID":"bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"}]
                    schema: nonCashBenefit_ids_json
          post:
            description: Adds an nonCashBenefit for a given enrollment. 
          put:
            description: Bulk update of nonCashBenefits for a given enrollment
          delete:
            description: Bulk deletion of a enrollment's nonCashBenefits.
          /{noncash_benefit_id}:
            type:
              member:
                schema_json:  nonCashBenefit_json
                schema_xml:  nonCashBenefit_xml
            description: Work with a specific nonCashBenefit for a particular enrollment.
            uriParameters:
              noncash_benefit_id:
                displayName: nonCashBenefit Identifier 
                type: string
                example: ADBC1111211111114111111111D1111V
            get:
              description: Fetches one specific nonCashBenefit for a given enrollment.
            put:
              description: Updates one specific nonCashBenefit for a specific enrollment.
              body:
                application/json:
                  example: |
                    {
                      "ProjectEntryID" : "12345678901234567890123456789012",
                      "NonCashBenefitsID":"eiuyhtfdrgb564389023retwdsvxfrteud",
                       "BenefitsFromAnySource":"5",
                       "SNAP":"1",
                       "WIC":"1",
                       "TANFChildCare":"1",
                       "TANFTransportation":"1",
                       "OtherTANF":"0",
                       "RentalAssistanceOngoing":"1",
                       "RentalAssistanceTemp":"0",
                       "OtherSource":"2",
                       "OtherSourceIdentify":"none",
                       "dataCollectionStage":"5",
                       "informationDate":"2014-04-27T18:25:43.511Z",
                      "DateCreated" : "2012-04-23T18:25:43.511Z",
                      "DateUpdated" : "2013-04-23T18:25:43.511Z",
                      "UserID": "77123456789012345678901234567890"
                    }
                application/xml:
                  example: |
                      <hmis:NonCashBenefit hmis:dateCreated="2015-05-08T23:14:59" hmis:dateUpdated="2015-01-27T23:14:59Z" hmis:userID="Hc8CQeYVWWj0dA9cWkDLe">
                      <hmis:ProjectEntryID>w5641</hmis:ProjectEntryID>
                       <hmis:NonCashBenefitsID>eiuyhtfdrgb564389023retwdsvxfrteud</hmis:NonCashBenefitsID>
                       <hmis:BenefitsFromAnySource>5</hmis:BenefitsFromAnySource>
                       <hmis:SNAP>1</hmis:SNAP>
                       <hmis:WIC>1</hmis:WIC>
                       <hmis:TANFChildCare>1</hmis:TANFChildCare>
                       <hmis:TANFTransportation>1</hmis:TANFTransportation>
                       <hmis:OtherTANF>0</hmis:OtherTANF>
                       <hmis:RentalAssistanceOngoing>1</hmis:RentalAssistanceOngoing>
                       <hmis:RentalAssistanceTemp>0</hmis:RentalAssistanceTemp>
                       <hmis:OtherSource>2</hmis:OtherSource>
                       <hmis:OtherSourceIdentify>none</hmis:OtherSourceIdentify>
                       <hmis:dataCollectionStage>5</hmis:dataCollectionStage>
                       <hmis:informationDate>2014-04-27T18:25:43.511Z</hmis:informationDate>
                      </hmis:NoncashBenefit>
            delete:
              description: Deletes one specific noncashBenefit for a specific enrollment
        /referral_sources:
          type: {
            collection: {
                id_schema_json: referralSource_id_json,  
                schema_json:  referralSources_json,
[...]
